<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Store</h1>
    <div id="products">
      <% for product in products { %>
      <div id="product">
        <h2><%= product.title %></h2>
        <p><%= product.description %></p>
        <img src="<%= product.image %>">
      </div>
      <% } %>
    </div>
  </body>
</html>


